@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a
{
    text-decoration: none;
}
body
{
    font-family: "Oswald", sans-serif;
}
ul
{
    list-style: none; 
}
:root
{
    --brand: #1E3859;
    --w:white;
}
.container
{
    max-width:1200px;
    margin:auto;
}
.flex
{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.top
{
    font-size: 14px;
    line-height: 35px;
}
.gap
{
    gap:10px;
}
.select
{
    background:transparent;
    border:1px solid ;
    border-color: transparent #ccc;
    padding:10px;
}
header
{
    background: var(--brand);
    padding: 10px 0;
}
nav li
{
    font-weight:bold;
}
nav li a
{
    color:var(--w);
   transition: 0.9s;
}
nav li a:hover
{
    color:orange; 
}
.gap3
{
    gap:20px;
}
nav span
{
    color:var(--w);
    font-size:33px ;
    display:none;
}
.banner
{
    height:70vh;
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Everest_North_Face_toward_Base_Camp_Tibet_Luca_Galuzzi_2006.jpg/1280px-Everest_North_Face_toward_Base_Camp_Tibet_Luca_Galuzzi_2006.jpg?20070320004704);
    color:var(--w);
    display:flex;
    justify-content: center;
    align-items: center;
}
.banner-text
{
    text-align: center;
    max-width: 60%;
}
.banner-text h1
{
    font-size: 34px;
}
.btn
{
    background-color: var(--brand);
    color:var(--w);
    display:inline-block;
    margin: 20px 0;
    padding: 10px 20px;
    transition: 0.9s;
    border:3px double var(--brand);
}
.btn.hover
{
    background: transparent;
    border:3px double orange;
}
.py
{
    padding:30px 0;
    text-align: center;
}
.line
{
    width:60px;
    height:5px;
    background: var(--brand);
    margin:-5px auto;
}
.py
{ 
    padding:10px 0;
}
.box
{
    width:280px;
    position:relative;
}
.box-c
{
    position:absolute;
    bottom:60px;
    left:20px;
    color:var(--w);
}
.rating
{
    color:orange;
}
.w-100
{
    width:100%;
    height:360px;
    object-fit: cover;
}
.wrap
{
    flex-wrap:wrap;
}
footer
{
    background:var(--brand);
    color:blueviolet;
    padding:20px 0;
}
.fbox
{
    flex-basis: 30%;
}
.fbox h4
{
    padding-bottom: 20px;
    color:white;
}
.fbox li
{
    font-size: 14px;
    line-height: 22px;
}
.fbox1
{
    flex-basis: 500px;
    padding: 25px 7px;
}
.social li
{
    width:35px; height:35px ; border-radius: 50%;border:1px solid blue;
    text-align: center;line-height: 35px;
    display: inline-block;
}
.social ul
{
    display: flex;
    gap:20px;
}